<h1>Startgames#score</h1>
<h2>Now here is your result!</h2>
<p>Your word is: <%= @query.capitalize! %></p>
<p>Time taken to answer: <%= @time %></p>
<p>Translation: <%= @translation %></p>
<p>Your score: <%= @score %></p>
<p>Message: <%= @message %></p>

